*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

/* HEADER-MENU */
header{
  background-color: transparent;
  position: fixed;
}

.logo {
  align-self: center;
  color: #fff;
  font-weight: bold;
  font-family: 'Lato';
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

ul.sidebar-panel-nav {
  list-style-type: none;
}

ul.sidebar-panel-nav > li > a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  display: block;
  padding-bottom: 40px;
}

/* burger */

.hidden {
  visibility: hidden;
}

.burger-button {
  cursor: pointer;
}

/* remove blue outline */
.burger-button:focus {
  outline: 0;
}

.burger-button {
  position: relative;
  margin-left: 1100px;
  margin-top: 20px;
  height: 30px;
  width: 32px;
  display: block;
  z-index: 999;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  pointer-events: all;
}

.burger-bar {
  background-color: white;
  position: absolute;
  top: 50%;
  right: 6px;
  left: 6px;
  height: 2px;
  width: auto;
  margin-top: -1px;
  transition: transform .6s cubic-bezier(.165,.84,.44,1),opacity .3s cubic-bezier(.165,.84,.44,1),background-color .6s cubic-bezier(.165,.84,.44,1);
}

.burger-bar--1 {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.burger-bar--2 {
  transform-origin: 100% 50%;
  transform: scaleX(.8);
}

.burger-button:hover .burger-bar--2 {
  transform: scaleX(1);
}

.no-touchevents .burger-bar--2:hover {
  transform: scaleX(1);
}

.burger-bar--3 {
  transform: translateY(6px);
}

#burger.active .burger-button {
  transform: rotate(-180deg);
}

#burger.active .burger-bar {
  background-color: #fff;
}

#burger.active .burger-bar--1 {
  transform: rotate(45deg)
}

#burger.active .burger-bar--2 {
  opacity: 0;
}

#burger.active .burger-bar--3 {
  transform: rotate(-45deg)
}

/** sidebar **/

.slide-enter-active,
.slide-leave-active
{
  transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s
}

.sidebar-backdrop {
  background-color: rgba(19, 15, 64, .4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.sidebar-panel {
  overflow-y: auto;
  background-color: #130f40;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 999;
  padding: 3rem 20px 2rem 20px;
  width: 300px;
}

/* HOMEPAGE */

.homepage{
height: 100vh;
background-image: url(./img/home_slider.jpg);
background-size: cover;
background-position: center;
}

.homepage-components{
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 250px; */
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.homepage h1{
font-size: 120px;
color: #ffff;
}

.homepage h4{
color: #ffff;
margin-top: 30px;
}

/* Buttons */
.homepage-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
   position: relative;
   background-color: transparent;
   border: 2px solid white;
   font-size: 18px;
   color: #FFFFFF;
   padding: 15px;
   width: 200px;
   text-align: center;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   text-decoration: none;
   overflow: hidden;
   cursor: pointer;
   outline: none;
   margin-top: 50px;

 }

 .buttons:after {
   content: "";
   background: gold;
   display: block;
   position: absolute;
   padding-top: 300%;
   padding-left: 350%;
   margin-left: -20px!important;
   margin-top: -120%;
   opacity: 0;
   transition: all 1s
 }

 .buttons:hover:after {
   background: #ffff;
   padding: 0;
   margin: 0;
   opacity: 1;
   transition: 0.4s
 }

 .button-1{
   background: #ec4958;
   margin-right: 10px;
   border-color: #ec4958;

 }
.button-2{
  margin-left: 10px;
}


/* MUSIC-LIFE SECTION */
.border{
  height:10px;
  width:350px;
  background:  #ec4958;
  border-radius: 20px;
  margin-bottom:40px;
  margin-top: -82px;
}

.music-life{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:#ffff;
  height:300px;
  background:#323844;
  text-align: center;

}

.music-life-border{
  width:250px;
  border: 1px solid grey;
  margin-top: 30px;
  margin-bottom: 50px;
}

.music-life h1{
  color:#ffff;
  font-size:2em;
}

.music-life-comments p{
  text-align: center;
}

/* COLLAGE */

.img-collage{
  max-width: 1000px;

}

.img-collage::after{
  clear: both;
  content: '';
  display: table;
}

.collage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  text-align: center;
  background: #252a33;
  padding-bottom: 50px;
}
.post-1:hover,
.post-2:hover,
.post-3:hover,
.post-4:hover,
.post-5:hover,
.post-6:hover{
  opacity: 0.7;
}

.collage h1{
  color:#ffff;
}
.collage h5{
  color:#ec4958;
}
.collage span p{
  color:#ffff;
}

.img-collage{
  margin-top: 50px;
}

.collage-left{
  width:66%;
  float: left;
  padding: 5px;
}
.collage-right{
  width:33%;
  float: left;
  padding: 5px;
}

.caption{
  background:#323844;
  color: white;
  height:100px;
  text-align: center;
}

.caption h5{
  padding-top:20px;

}
.caption p{
padding: 10px;
font-size: 12px;
line-height: 20px;
color: grey;
}

.caption:hover p{
  color: #fff;
  transition: 0.3s;
}

.wrapper-collage{
  padding: 10px;
}

.wrapper-collage img{
  max-width: 100%;
}

.wrap-float > .wrapper-collage{
  float: left;
  width: 50%;
}

.wrap-float::after{
  clear: both;
  content: '';
  display: table;
}

.post-1{
  width: 630px;
}

/* NEWS */

.news{
  display: flex;
  justify-content: center;
  align-items: center;
  height:150px;
  background: #ec4958;
}
.news p{
  color: #ffff;
  font-size:14px;
  transition: 0.5s;
}

.news:hover{
  color: black;
  background: #ffff;
}

.news:hover p{
  color: #000;
  font-size:24px;
  transition: 0.5s;
}

.news img{
  display: none;
}

.news:hover img{
  width: 80px;
  display: block;

}

.parallax{
  height: 100vh;
  background-image: url(./img/home-testimonial-parallax.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parallax:hover{
  opacity: 0.8;
  transition: 0.8s;
}

.parallax-content img{
  margin-left: 300px;
  margin-top: 50px;
}

.parallax-content img:hover{
  opacity: 0.9 ;
}

.parallax-content h3 {
text-align: center;
color: white;
line-height: 40px;
}

/* LIVE DATES SECTION */

.date-tables{
  background: #252a33;
  transition: 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.date-tables:hover{
  background:none;
  display: flex;
  background-image: url(./collage/audience.jpeg);
  transition:2s;
  background-size: cover;
}

.date-tables h1{
  color:#ffff;
  padding-top:50px
}

.date-tickets{
  text-align: center;
  color:#ffff;
  padding-bottom: 30px;
}

.date{
  padding: 15px;
  /* border: 1px solid grey; */
  width:1000px;
  font-size: 15px;
  color: grey;
  margin-top:10px;
  background: #323844;
}

.date-toggle{
  padding: 15px;
  width:1000px;
  font-size: 15px;
  color: grey;
  background: #484f5d;
  /* border:1px solid red; */
  margin-left: -15px;
  margin-top: 15px;

}

.date span{
  margin-left: 30px;
}

.date-toggle span{
margin-left: 30px;
color: white
}

.date:hover i{
  color:#ffff;
}

/* DATES LINE */
.dates-line{
  display: flex;
  justify-content: center;
  align-items: center;
  height:150px;
  background: #ec4958;
  transition:0.5s;
}
.dates-line:hover{
  color: black;
  background: #ffff;
  transition:0.5s;
}

.dates-line p{
  color: #ffff;
  font-size:14px;
  transition: 0.5s;
}

.dates-line:hover p{
color:black;
font-size:24px;
transition: 0.5s;
}

.dates-line img{
  display: none;
  transition: 0.5s;
}

.dates-line:hover img{
  display: block;
}


.footer{
  height:150px;
  display: flex;
  justify-content: space-between;
  background: #323844;
}

.footer img{
  height: 50px;
  margin-top: 50px;
  padding-left: 20px;
  cursor: pointer;
}
.footer-menu{
display: flex;
align-items: center;
padding: 20px;
}

.footer-menu li{
  margin-right: 20px;
  list-style: none;
  font-size: 15px;
  color: grey;
  cursor: pointer;
}
.footer-menu li:hover{
  color: white;
}

/* SOCIAL MEDIA */
.social-media{
  background: #252a33;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.copyright{
  color:grey;
  display: flex;
  align-items: center;
  padding:20px;
}

.copyright li{
  font-size: 12px;
  list-style: none;
  padding-left: 10px;
}

.social-icons{
  display: flex;
  align-items: center;
  padding-right: 100px;

}
.social-container{
  position: relative;
  background: #323844;
  /* border: 1px solid grey; */
  height:40px;
  width: 40px;
  border-radius: 5px;
  margin-right:10px;
  cursor: pointer;
}

.social-container .fab{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: grey;
}
.social-container .fab:hover{
  color: #ffff;
}

/* // Scroll Back To Top Button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #323844;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}
